@font-face {
	font-family: 'DinCyrReg';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/DinCyRg.eot');
	src: local('☺'), url('fonts/DinCyRg.woff') format('woff'), url('fonts/DinCyRg.ttf') format('truetype'), url('fonts/DinCyRg.svg') format('svg');
}
@font-face {
	font-family: 'DinCyrBold';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/DinCyBd.eot');
	src: local('☺'), url('fonts/DinCyBd.woff') format('woff'), url('fonts/DinCyBd.ttf') format('truetype'), url('fonts/DinCyBd.svg') format('svg');
}
@font-face {
	font-family: 'DinCyrBlack';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/DinCyBk.eot');
	src: local('☺'), url('fonts/DinCyBk.woff') format('woff'), url('fonts/DinCyBk.ttf') format('truetype'), url('fonts/DinCyBk.svg') format('svg');
}
body {
	font-size: 1em;
}
.nav__container {
	position: fixed;
	top: 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	height: 10%;
	padding: 0 2%;

	background: white;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
} 
.logo__container {
	position: relative;

	display: inline-block;

	width: 50%;
	height: 100%;
}
.logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	max-width: 13.5em;
	height: 2.19em;
	margin: auto 0;

	background: url('../images/logo.png') no-repeat scroll center center;
	background-size: 100%;
} 
.navBtn__container {
	display: inline-block;

	margin-left: auto;
} 
.navBtn {
	font-family: 'DinCyrBold';
	font-size: 0.75em;
	line-height: 1.7em;

	display: block;

	width: 10.81em;

	text-align: center;

	color: #ffffff;
	background: url('../images/navBtn.png') no-repeat scroll center center;
	background-size: cover;
} 
.main__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	height: 100%;

	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
} 
.building__container {
	width: 100%;
	height: 50vh;

	text-align: center;
}
.house__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	height: 100%;

	background: url('../images/houseBg.jpg') no-repeat scroll center center;
	background-size: cover;

	align-items: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: center;
	-ms-flex-align: end;
	-ms-flex-pack: center;
	justify-content: center;
} 
.complex__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	height: 100%;

	background: url('../images/complexBG.jpg') no-repeat scroll center center;
	background-size: cover;

	align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-pack: center;
	-ms-flex-align: start;
	-ms-flex-pack: center;
	justify-content: center;
}
.item__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 80%;
	height: 40%;

	background-color: rgba(255,255,255,0.7);

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	justify-content: center;
}
.item__container_house {
	padding-bottom: 15%;
}
.item__container_complex {
	padding-top: 15%;
}
.item__title {
	font-family: 'DinCyrBold';
	font-size: 1.3em;

	color: #3c3c3b;
} 
.item__txt {
	font-family: 'DinCyrReg';
	font-size: 1.3em;

	color: #3c3c3b;
} 
.item__location {
	display: none;
} 
.subItem {
	display: none;
}
.choice__container {
	position: absolute;
	top: 45vh;
	left: 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	height: 10vh;

	background-color: #ec1c24;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
.choice__container::before {
	position: absolute;
	top: -55%;
	left: 45%;

	content: url('../images/arrowL.png');
	-webkit-transform: rotate(90deg) scale(0.5);
	        transform: rotate(90deg) scale(0.5);
}
.choice__container::after {
	position: absolute;
	right: 49%;
	bottom: -53%;

	content: url('../images/arrowL.png');
	-webkit-transform: rotate(-90deg) scale(0.5);
	        transform: rotate(-90deg) scale(0.5);
}
.choice {
	font-family: 'DinCyrBlack';
	font-size: 1.3em;

	width: 100%;

	text-align: center;

	color: #ffffff;
}
.footer__container {
	font-family: Arial;
	font-size: 0.5em;

	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 5.01em;

	text-align: center;

	color: white;
	background-color: rgba(0,0,0,0.6);
} 
.copy__container {
	margin-top: 1em;
} 
.link__item {
	line-height: 2em;

	color: white;
}
@media only screen and (max-width : 20em) {
}
@media only screen and (min-width : 20em) {
	.nav__container {
		padding: 0 5%;
	}

	.navBtn {
		line-height: 1.94em;
	}
	.footer__container {
		font-size: 0.525em;
	}
}
@media only screen and (min-width : 20em) and (orientation : portrait) {
}
@media only screen and (min-width : 22.5em) {
	.choice__container::before {
		-webkit-transform: rotate(90deg) scale(0.6);
		        transform: rotate(90deg) scale(0.6);
	}
	.choice__container::after {
		right: 50%;

		-webkit-transform: rotate(-90deg) scale(0.6);
		        transform: rotate(-90deg) scale(0.6);
	}
}
@media only screen and (min-width : 20em) and (orientation : portrait) {
}
@media only screen and (orientation : landscape) {
	.nav__container {
		min-height: 2.25em;
	}

	.main__container {
		-ms-flex-wrap: no-wrap;
		    flex-wrap: no-wrap;
	}
	.building__container {
		width: 50%;
		height: 100vh;
	}
	.house__container {
		align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
	}
	.complex__container {
		align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
	}
	.item__container {
		overflow: hidden;

		width: 100%;
		height: 25%;
	}
	.item__container_house {
		padding-right: 20%;
		padding-bottom: 0;
	}
	.item__container_complex {
		padding-top: 0;
		padding-left: 20%;
	}
	.choice__container {
		top: 37.5%;
		left: 39%;

		width: 22%;
		height: 25%;
	}
	.choice__container::before {
		top: 29%;
		left: -15%;

		content: url('../images/arrowL.png');
		-webkit-transform: rotate(0deg) scale(0.5);
		        transform: rotate(0deg) scale(0.5);
	}
	.choice__container::after {
		top: 23%;
		right: -15%;
		bottom: 0;

		content: url('../images/arrowR.png');
		-webkit-transform: rotate(0deg) scale(0.5);
		        transform: rotate(0deg) scale(0.5);
	}
}
@media only screen and (min-width : 30em) {
	.navBtn {
		font-size: 0.875em;
	}
	.item__title {
		font-size: 1em;
	}
	.item__txt {
		font-size: 1em;
	}
	.choice {
		font-size: 1em;
	}
	.footer__container {
		font-size: 0.7em;
	}
}
@media only screen and (min-width : 30em) and (orientation : portrait) {
	.item__container_house {
		padding-bottom: 10%;
	}
	.item__container_complex {
		padding-top: 10%;
	}
	.item__title {
		font-size: 1.51em;
	}
	.item__txt {
		font-size: 1.51em;
	}
	.choice {
		font-size: 1.51em;
	}
	.choice__container::before {
		left: 46%;
	}
}
@media only screen and (min-width : 30em) and (orientation : landscape) {
}
@media only screen and (min-width : 40em) and (orientation : landscape) {
	.logo__container {
		/* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background:         linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}

	.nav__container {
		background: white url('../images/navBG.png') no-repeat scroll right top;
		background-size: auto 100%;
	}
	.item__title {
		font-size: 1.2em;
	}
	.item__txt {
		font-size: 1.2em;
	}
	.choice {
		font-size: 1.2em;
	}
}
@media only screen and (min-width : 40em) and (orientation : portrait) {
	.item__container_house {
		padding-bottom: 15%;
	}
	.item__container_complex {
		padding-top: 15%;
	}
	.choice__container::before {
		left: 47%;
	}
}
@media only screen and (min-width : 30em) and (max-width : 48em) and (orientation : landscape) {
}
@media only screen and (min-width : 48em) {
	.item__location {
		display: inline-block;

		padding: 3% 0;
	}
	.item__district {
		display: inline-block;
	}
	.district__icon {
		display: inline-block;

		width: 1.44em;
		height: 2em;

		background: url('../images/district.png') no-repeat scroll center center;
	}
	.location__txt {
		font-family: 'DinCyrReg';
		font-size: 1.12em;

		display: inline-block;

		padding-bottom: 0.625em;

		color: #3c3c3b;
	}
	.item__staition {
		display: inline-block;
	}
	.staiton__icon {
		display: inline-block;

		width: 1.44em;
		height: 2em;

		background: url('../images/station.png') no-repeat scroll center center;
	}
}
@media only screen and (min-width : 48em) and (orientation : portrait) {
	.navBtn {
		font-size: 1em;
	}
	.item__title {
		font-size: 1.73em;
	}
	.item__txt {
		font-size: 1.73em;
	}
	.choice {
		font-size: 1.73em;
	}
	.item__container {
		width: 70%;
		height: 45%;
	}
	.item__container_house {
		padding-bottom: 10%;
	}
	.item__container_complex {
		padding-top: 13%;
	}
	.choice__container::before {
		top: -36%;
		left: 47%;

		-webkit-transform: rotate(90deg) scale(1);
		        transform: rotate(90deg) scale(1);
	}
	.choice__container::after {
		right: 50%;
		bottom: -35%;

		-webkit-transform: rotate(-90deg) scale(1);
		        transform: rotate(-90deg) scale(1);
	}
}
@media only screen and (min-width : 48em) and (orientation : landscape) {
	.navBtn {
		font-size: 1em;
	}
	.item__title {
		font-size: 1.5em;
	}
	.item__txt {
		font-size: 1.5em;
	}
	.choice {
		font-size: 1.5em;
	}
	.item__location {
		display: none;
	}
	.choice__container::before {
		top: 40%;
		left: -10%;

		-webkit-transform: rotate(0deg) scale(0.7);
		        transform: rotate(0deg) scale(0.7);
	}
	.choice__container::after {
		top: 30%;
		right: -10%;

		-webkit-transform: rotate(0deg) scale(0.7);
		        transform: rotate(0deg) scale(0.7);
	}
}
@media only screen and (min-width : 50em) and (orientation : portrait) {
}
@media only screen and (min-width : 64em) {
	.item__title {
		font-size: 1.73em;
	}
	.item__txt {
		font-size: 1.73em;
	}
	.choice {
		font-size: 1.73em;
	}
	.item__location {
		display: inline-block;
	}
}
@media only screen and (min-width : 64em) and (orientation : landscape) {
	.house__container {
		-webkit-transition: all 1s ease;
		        transition: all 1s ease;

		background-size: auto 100%;
	}
	.house__container:hover {
		background-size: auto 130%;
	}
	.complex__container {
		-webkit-transition: all 1s ease;
		        transition: all 1s ease;

		background-size: auto 100%;
	}
	.complex__container:hover {
		background-size: auto 130%;
	}
	.item__container {
		height: 25%;

		-webkit-transition: all 1s ease;
		        transition: all 1s ease;
	}
	.house__container:hover .item__container {
		height: 35%;

		background-color: rgba(255,255,255,1.00);
	}
	.complex__container:hover .item__container {
		height: 35%;

		background-color: rgba(255,255,255,1.00);
	}
	.choice__container::before {
		top: 40%;
		left: -10%;

		-webkit-transform: rotate(0deg) scale(1);
		        transform: rotate(0deg) scale(1);
	}
	.choice__container::after {
		top: 40%;
		right: -10%;

		-webkit-transform: rotate(0deg) scale(1);
		        transform: rotate(0deg) scale(1);
	}
}
@media only screen and (min-width : 68em) and (orientation : landscape) {
	.item {
		position: relative;
		top: 0vh;

		width: 100%;
		height: 100%;
		padding: 3%;
	}
	.item__title {
		position: relative;

		-webkit-transition: all 1s ease 0.6s;
		        transition: all 1s ease 0.6s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.house__container:hover .item__title {
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		-webkit-transform: translateY(-20em);
		        transform: translateY(-20em);

		opacity: 0;
	}
	.complex__container:hover .item__title {
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		-webkit-transform: translateY(-20em);
		        transform: translateY(-20em);

		opacity: 0;
	}
	.item__txt {
		position: relative;

		-webkit-transition: all 1s ease 0.4s;
		        transition: all 1s ease 0.4s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.house__container:hover .item__txt {
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		-webkit-transform: translateY(-20em);
		        transform: translateY(-20em);

		opacity: 0;
	}
	.complex__container:hover .item__txt {
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		-webkit-transform: translateY(-20em);
		        transform: translateY(-20em);

		opacity: 0;
	}
	.item__location {
		position: relative;

		-webkit-transition: all 1s ease 0.2s;
		        transition: all 1s ease 0.2s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.house__container:hover .item__location {
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		-webkit-transform: translateY(-20em);
		        transform: translateY(-20em);

		opacity: 0;
	}
	.complex__container:hover .item__location {
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
		-webkit-transform: translateY(-20em);
		        transform: translateY(-20em);

		opacity: 0;
	}
	.subItem {
		position: relative;
		top: -80%;

		display: block;

		width: 20em;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.subItem__txt {
		font-family: 'DinCyrBlack';
		font-size: 1.3em;
		line-height: 1.6em;

		position: relative;

		color: #3c3c3b;
	}
	.subItem__txt1 {
		-webkit-transition: all 1s ease-in-out;
		        transition: all 1s ease-in-out;
		-webkit-transform: translateY(-10em);
		        transform: translateY(-10em);

		opacity: 0;
	}
	.house__container:hover .subItem__txt1 {
		-webkit-transition-delay: 0.4s;
		        transition-delay: 0.4s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.complex__container:hover .subItem__txt1 {
		-webkit-transition-delay: 0.6s;
		        transition-delay: 0.6s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.subItem__txt2 {
		-webkit-transition: all 1s ease-in-out;
		        transition: all 1s ease-in-out;
		-webkit-transform: translateY(-10em);
		        transform: translateY(-10em);

		opacity: 0;
	}
	.house__container:hover .subItem__txt2 {
		-webkit-transition-delay: 0.2s;
		        transition-delay: 0.2s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.complex__container:hover .subItem__txt2 {
		-webkit-transition-delay: 0.4s;
		        transition-delay: 0.4s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.subItem__txt3 {
		-webkit-transition: all 1s ease-in-out;
		        transition: all 1s ease-in-out;
		-webkit-transform: translateY(-10em);
		        transform: translateY(-10em);

		opacity: 0;
	}
	.complex__container:hover .subItem__txt3 {
		-webkit-transition-delay: 0.2s;
		        transition-delay: 0.2s;
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
	.subItemBtn__container {
		display: inline-block;

		-webkit-transition: all 1s ease;
		        transition: all 1s ease;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);

		opacity: 0;
	}
	.house__container:hover .subItemBtn__container {
		-webkit-transition-delay: 1s;
		        transition-delay: 1s;
		-webkit-transform: scale(1);
		        transform: scale(1);

		opacity: 1;
	}
	.complex__container:hover .subItemBtn__container {
		-webkit-transition-delay: 1s;
		        transition-delay: 1s;
		-webkit-transform: scale(1);
		        transform: scale(1);

		opacity: 1;
	}
	.subItem__btn {
		font-family: 'DinCyrBold';
		font-size: 1em;
		line-height: 1.94em;

		width: 13.31em;
		margin-top: 10%;

		color: #ffffff;
		background: url('../images/btn.png') no-repeat scroll center center;
	}
	.subItem__btn_house {
		margin-top: 20%;
	}
}
@media only screen and (min-width : 64em) and (orientation : portrait) {
	.nav__container {
		background: white url('../images/navBG.png') no-repeat scroll right top;
		background-size: auto 100%;
	}
	.item__container_house {
		padding-bottom: 12%;
	}
	.item__container_complex {
		padding-top: 15%;
	}
	.choice__container::before {
		left: 48%;
	}
}
@media only screen and (min-width : 40em) and (max-width : 68em) and (orientation : portrait) {
	.navBtn {
		font-size: 2em;
	}
	.item__title {
		font-size: 3.46em;
	}
	.item__txt {
		font-size: 3.46em;
	}
	.choice {
		font-size: 3.46em;
	}
	.item__location {
		display: none;
	}
}
@media only screen and (min-width : 80em) {
}
@media only screen and (min-width : 90em) {
}
